.chatside
  .sideheader
    .sideheader__logo
      山田
    .sideheader__btn
      = link_to new_group_path, class: "sideheader__btn sideheader__btns--icon"do
        = icon('far', 'edit', class: "sideheader__btn--icon1")
        %span<>
      = link_to edit_user_path(current_user), class: "sideheader__btn sideheader__btns--icon" do
        = icon('fas', 'cog', class: "sideheader__btn--icon2")

  .sidecontents
    .sidecontents__group
      sample
    .sidecontents__message
      Good bye work

